
.annonsWrapper{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
        
    .savedJob{
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
    }

}