@import './settings';

.entetePage {
	padding: 1rem;
	background-color: #fff;

	.blue {
		height: 200px;
		background: #0575e6;
		background: -webkit-linear-gradient(
			to right,
			#021b79,
			#0575e6
		);
		background: linear-gradient(
			to right,
			#021b79,
			#0575e6
		);
		border-radius: 1rem;

		.title {
			text-align: center;

			h1 {
				color: #fff;
				font-size: 3rem;
				margin-top: 3rem;
			}
		}

		.searchInput {
			position: relative;
            top: 2.5rem;
            
            @include phoneView{
                top: 3rem;
            }
    

			.paper {
				padding: 2px 1px;
				display: flex;

				.input {
					margin-left: 3 rem;
					flex: 1;
					height: 60px;
					padding-left: 1rem;

					@include phoneView {
						height: 40px;
						font-size: 0.9rem;
					}
				}
			}
        }
        
        .btnSearch{
            background-color: $btnColor;
            color: $btnTextColor;
        }
	}
}
