.AppBar {
    background-color : #fff !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

 
    .link{
    text-decoration: none;
    color: #13357B;
    font-size: 2rem;
    }
        
}