@import './settings';

.jobPostWrapper {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;

	.elevatedCard {
		margin: 1rem;

		@include phoneView {
			margin: 0;
			margin-top: 0.5rem;
		}
	}
	.saveBtn {
		margin-top: -1rem;
		text-align: right;
	}
	.boldTitle {
		font-weight: 900;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

		@include phoneView {
			font-size: 1.3rem;
			
		}
	}
}
