@import './settings';

.landingPage {
	.landingPageWrapper {
		background-color: #fff;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;

		.pageHeader {
			text-align: center;
			margin: 2rem;
			color: #15347a;

			h1 {
	 			font-size: 3rem;
				font-weight: bold;
			}
		}

		.cardContainer {
			padding: 1rem;
			margin-bottom: 3rem;

			.jobPostCard {
				width: 50%;

				@include phoneView {
					width: 100%;
				}
			}
		}
	}
}
