@import './settings';

.landingPage {
    font-family: 'Roboto';
	.landingPageWrapper {
		background-color: #fff;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;

		.pageHeader {
			text-align: center;
			margin-top: 3rem;
			color: #15347a;

			h1 {
	 			font-size: 3rem;
				font-weight: bold;
			}
		}

		.cardContainer {
			padding: 1rem;
			margin-top: 1rem;

			.jobPostCard {
                width: 40%;

            @media (max-width:901px) and (min-width:501px) {
                width: 100%;
            }
				@include phoneView {
					width: 100%;
				}
			}
		}
	}
}
