@import './settings';

.landingPage {
    .list {
        background-color: #fff; 
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    
        .secondHeader {
        text-align: center;
        margin: 2rem;
        color: #15347A;
    
        h1{
            font-size: 3rem;
            font-weight: bold;

        }
        }

        .cardContainer{
            padding: 1rem;
            margin-bottom: 3rem;

            .carte{
                width: 50%;

                @include PhoneVIew {
                    width: 100%;
                }
            }
        }
    }
} 